.bd-highlight {
    background-color: rgba(86,61,124,0.15);
    border: 1px solid rgba(86,61,124,0.15);
}


.justify-content-start {
    background-color: rgba(86,61,124,0.15);
    border: 1px solid rgba(86,61,124,0.15);
}


.justify-content-end {
    background-color: rgba(86,61,124,0.15);
    border: 1px solid rgba(86,61,124,0.15);
}

.justify-content-center {
    background-color: rgba(86,61,124,0.15);
    border: 1px solid rgba(86,61,124,0.15);
}


.align-items-start{
      height: 100px;
    background-color: rgba(86,61,124,0.15);
    border: 1px solid rgba(86,61,124,0.15);


}


.align-items-stretch{

    
    height: 100px;
    background-color: rgba(86,61,124,0.15);
    border: 1px solid rgba(86,61,124,0.15);
}